<!DOCTYPE html>
<html>
<head>
    <title>realty Helper - WorkPlace</title>
    <link href="/myLB/css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script src="/jquery/jquery-2.1.1.min.js"> </script>
    <script src="/myLB/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="/underscore/underscore-min.js"></script>
    <script src="/myLB/js/settings.js"> </script>
		<script src="/myLB/lib/bootstrap/tooltip.js"> </script>
		<script type="text/x-handlebars" id="wpitem"> 
			<li><a class="stateMenu" data="{{id}}" href="#">{{wp}}</a></li>
		</script>

</head>
<body>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Choose your workplace</h4>
        </header>
        <div class="body" id="wpwidget">
            <form class="no-margin"
							action="/api/setwp"
							method="post"
							data-confirm="Ready to submit?"
							role="form">
                <fieldset>
                	<div class="form-group no-margin">
										<label for="wp" >WorkPlace</label>
										<div class="btn-group btn-group-sm btn-input col-md-8 pull-right" id="wp">
											<button class="btn btn-default" id="wpChoosenLabel" type="button">Choose you workplace</button>
  										<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
												<span class="caret"></span>
    										<span class="sr-only">Toggle Dropdown</span>
											</button>
  										<ul id="wplist" role="menu" class="dropdown-menu">
											</ul>
										</div>
									</div>
                </fieldset>
                <div class="form-actions">
                	<button type="submit" class="btn btn-block btn-lg btn-danger">
                  	<span class="small-circle"><i class="fa fa-caret-right"></i></span>
                    <small>Set</small>
									</button>
									<div class="forgot">
									</div>	
                </div>
            </form>
        </div>
    </section>
	</div>
	<script src="/handlebars/handlebars-v1.3.0.js"></script>
	<script src="/underscore/underscore-min.js"></script>
	<script src="/backbone/backbone.js"></script>
	<script src="/myLB/lib/bootstrap/dropdown.js"></script>
  <script src="/product/javascript/wp.js"> </script>
</body>
</html>
